<div class="slim-header">
    <div class="container">
      <div class="slim-header-left">
        <h2 class="slim-logo"><a routerLink="/home" routerLinkActive="router-link-active" >🐈 Cats Database<span>.</span></a></h2>
      </div>
    </div>
  </div>

  <div class="slim-navbar">
    <div class="container">
      <ul class="nav">
        <li class="nav-item" routerLink="/home" routerLinkActive="active">
          <a class="nav-link"  >
           Home
          </a>
       </li>
        
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">
              About Project
            </a>
          </li>
      </ul>
    </div>
  </div>
