<app-header></app-header>
<div class="slim-mainpanel" style="position: relative;">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Catsdb</a></li>
              <li class="breadcrumb-item active" aria-current="page">Categorias</li>
            </ol>
            <h6 class="slim-pagetitle">Categorias</h6>
          </div>
          

          <!-- categories data -->
         

    </div>
    </div>
